<h1>View all Bloggers</h1>
<h3><%= link_to "Create a new Blogger", new_blogger_path %><br></h3><hr>
<% @bloggers.each do |blogger| %>
    <h3>Name: <%= blogger.name %></h3>
    <h3>Age: <%= blogger.age %></h3> 
    <h3>Bio: <%= blogger.bio %></h3>
    <h3><%= link_to "View", blogger_path(blogger) %>
    <%= link_to "Edit", edit_blogger_path(blogger) %>
    <%= link_to "Delete", blogger_path(blogger), method: :delete, data: {confirm: 'Really delete?' } %>
    <input name="_method" type="hidden" value="delete" /><hr></h3>
<% end %>
