<h1>View a Post</h1>

<h3>Title: <%= @post.title %></h3>
<h3>by Blogger: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></h3>
<hr> 
<h3>Likes: <%= @post.likes %></h3>
<h3><%= link_to "Like this post", add_like_path(@post)%></h3>
<h3>Destination: <%= link_to @post.destination.name.concat(", ", @post.destination.country), destination_path(@post.destination) %></h3>
<h3>Content: <%= @post.content.remove(/\[|\]/) %></h3>
<hr>
<h3><%= link_to "Create a new Post", new_post_path %>  
<%= link_to "Edit", edit_post_path(@post) %> 
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<input name="_method" type="hidden" value="delete" /></h3>