<%= form_for(@destination) do |f| %>
     <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :country %><br>
        <%= f.text_field :country %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <br>
<% end %>