<h1>View all Destinations</h1>
<h3><%= link_to "Create a new Destination", new_destination_path %><br></h3><hr>
<% @destinations.each do |destination| %>
    <h3><%= destination.name %>, <%= destination.country %></h3>
    <h3><%= link_to "View", destination_path(destination) %>
    <%= link_to "Edit", edit_destination_path(destination) %>
    <%= link_to "Delete", destination_path(destination), method: :delete, data: {confirm: 'Really delete?' } %>
    <input name="_method" type="hidden" value="delete" /><hr></h3>
<% end %>