<h1>Show a Destination</h1>

<h3>Name: <%= @destination.name %></h3>
<h3>Country: <%= @destination.country %></h3>
<hr>
<h3>Most recent posts: </h3>
<% @destination.posts.most_recent_posts.each do |post| %>
    <h3><%= link_to post.title, post_path(post) %>
<% end %>
<h3>Featured post: <%= @destination.posts.featured_post.nil? ? "None" : link_to(@destination.posts.featured_post, post_path(@destination.posts.featured_post)) %></h3>

<h3>Average age of bloggers that wrote about this destination: <%= @destination.posts.average_age %></h3>
<hr>
<h3><%= link_to "Create a new Destination", new_destination_path %> 
<%= link_to "Edit", edit_destination_path(@destination) %> 
<%= link_to "Delete", destination_path(@destination), method: :delete, data: { confirm: 'Are you sure?' } %>
<input name="_method" type="hidden" value="delete" /></h3>